# appearances
theme = Twilight

macos-icon = custom-style
macos-icon-ghost-color = white
macos-icon-screen-color = black
macos-icon-frame = plastic
macos-titlebar-style = transparent

window-decoration = auto
window-padding-x = 5
window-padding-y = 5


# font
font-family = "FiraCode Nerd Font"
font-size = 11
font-style-bold = false
# text is too light
font-thicken = true
font-thicken-strength = 10


# shell
command = /opt/homebrew/bin/fish
shell-integration = fish
shell-integration-features = "cursor,sudo,title"

mouse-hide-while-typing = true
copy-on-select = clipboard


# keybinds
keybind = shift+page_up=scroll_page_up
keybind = shift+page_down=scroll_page_down


# quake console for dev log
keybind = global:ctrl+shift+grave_accent=toggle_quick_terminal
quick-terminal-position = left
quick-terminal-animation-duration = 0.1

